<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" />
  <!-- Primary Meta Tags -->
  <title>
    Svelte Starter Pack
  </title>
  <meta name="title" content=" Website Starter Pack" />
  <meta name="description" content=" Website Starter Pack" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://starterpk.com" />
  <meta property="og:title" content=" Website Starter Pack" />
  <meta property="og:description" content=" Website Starter Pack" />
  <meta property="og:image" content="https://starterpk.com/logo.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://starterpk.com/" />
  <meta property="twitter:title" content=" Website Starter Pack" />
  <meta property="twitter:description" content=" Website Starter Pack" />
  <meta property="twitter:image" content="https://starterpk.com/logo.png" />

  <link rel="stylesheet" href="style.css" />
</head>

<body>    
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>

  <div id="outer-container">

    <div class="logo-container">
      <div class="col-50">
        <img src="logo.png" class="logo" alt="img" />
      </div>
      <div class="col-50">
      </div>
    </div>

    <div class="container">
      <div class="col-50">
        <label for="directory">Where would you like to create your project?</label>
      </div>
      <div class="col-50">
        <div class="directory-container">
          <div id="directory-navbar">
            <div id="directory-path" class="directory-path">/</div>
            <p id="directory-path" class="hidden">/</p>
          </div>
          <div id="directories-list" class="directories-list"></div>
        </div>
      </div>
    </div>




    <div class="container">
      <div class="col-50">
        <label for="projectName">What would you like to call your project?</label>
      </div>
      <div class="col-50">
          <input name="projectName" id="projectName"/>
      </div>
    </div>

    <div class="container">
      <div class="col-50">
        <label for="pack">What pack would you like to use?</label>
      </div>
      <div class="col-50">
    <select onchange="handlePackChange(event)"name="pack" id="pack">
          <% packs.forEach(function(pack){ %>
            <option value=<%= pack.value %>><%= pack.name %></option>
          <% }); %>
        </select>
        <div id="pack-img" class="pack-img-container">
          
        </div>
      </div>

      </div>
    </div>

    <div class="container">
      <div class="col-50">
      </div>
      <div class="col-50">
        <button class="btn-submit" id="btn-submit" onclick="toggleModal()">Submit</button>
      </div>  
    </div>


    <div class="container">
      <div class="col-50">
      </div>
      <div class="col-50">
         <p id="response"></p>
      </div>  
    </div>


  </div>

  <div id="modal" class="modal hidden" data-visible="false">
    <div id="modal-text"></div>
    <div class="btn-container">
      <button class="btn-cancel" onclick="toggleModal()">No</button>
      <button class="btn-submit" onclick="handleCreateProject(event)">Yes</button>  
    </div>
  </div>
</body>

</html>